 /*HEADER*/
 body {
  transition: background-color .5s;
  height: 100%;}
 .container{
	margin: 0 auto;
	position: relative;
	height: 100%;}
 .headercontainer{
  width: 100%;
  height: 100px;
  position: fixed;}
 .header_main{
	position: relative;
	height: 100%;
	display: block;
	background-color: rgb(70,71,73);}
 .logo{
  width: 55%;
  margin-top: 2%;}
 .iconomenumobile{
  margin-bottom: 10%;
  float: right;
  width: 17%;}
 .topnav{display: none;}
 .sidenav {display: inline-block;}
/* The side navigation menu */
 .sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */}
/* The navigation menu links */
 .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family:'Open Sans', sans-serif;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;}
/* When you mouse over the navigation links, change their color */
 .sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;}
/* Position and style the close button (top right corner) */
 .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;}
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
 #main {
  transition: margin-left .5s;
  padding: 20px;}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

/*INICIO*/
 .tablet1 {display: none;}
 .tablet2 {display: none;}
 .tableth1 {display:none;}
 .tableth2 {display: none;}
 .inicio {padding-top: 115px;}
 .mobile1 {width: 100%;}
 .mobile2 {
  margin-top: 3%;
  width: 100%;}
 .inicio {width: 100%;}
 .inicio1 button{
  position: relative;
  bottom: 52px;
  left: 15px;
  color: rgba(0,240,127,1);
  font-size: 13px;
  padding: 5px 30px 5px 30px;
  font-weight: bold;
  border-color: #fff;
  border-width: 3px;
  border-style: solid;
  background-color: rgba(0,0,0,0);}
 .inicio2 button{
  position: relative;
  bottom: 47px;
  left: 167px;
  color: #fff;
  font-size: 13px;
  padding: 5px 30px 5px 30px;
  font-weight: bold;
  border-color: rgba(0,240,127,1);
  border-width: 3px;
  border-style: solid;
  background-color: rgba(0,0,0,0);}

/*QUIENES SOMOS*/
 *{box-sizing: border-box;}
 html, body, ul {
  margin: 0;
  border: 0;
  padding: 0;
  overflow-x: hidden;}
 .contenedor-quienes{
  background-color: #00f07f;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;}
 .titulo-quienes {
  width: 95%;
  margin: 0 auto;}
 .titulo-quienes h2 {
  font-family: 'Nunito Sans', sans-serif;
  font-style: oblique;
  font-size: 2em;
  color: white;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;}
 .titulo-quienes img{
  width: 100%;
  padding-left: 25px;
  padding-right: 5px;}
 .texto-quienes{
  width: 95%;
  margin: 0 auto;
  overflow: hidden;}
 .texto-quienes article {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: normal;
  width: 95%;
  color: white;
  font-size: 0.7em;
  padding-left: 15px;
  padding-top: 20px;
  padding-bottom: 20px;}
 .imagen-quienes article{
  width: 95%;
  margin: 0 auto;}
 .imagen-quienes{
  margin: 0 auto;
  width: 95%;
  display: none;}
 .imagen-quienes img {
  width: 95%;
  position: absolute;
  z-index: 0;}
 .imagen-quienes button{
  z-index: 5;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  color: white;
  padding: 5px;
  border-style: solid;
  background-color: inherit;
  border-color: white;
  border-width: 2px;
  position: absolute;}

/*FAQS*/
.img-faqs { display: none;}
.preg-container {
  width: 100%;
  background-color: #808080;
  overflow: hidden;
  color: white;}
.h1-faqs {
 color: white;
 display: block;
 margin-top:37px;
 margin-left: 31px;
 font-family: 'Nunito Sans', sans-serif;
 font-weight: bold;
 left: 5%;
 top: 3%;
 font-size: 2rem;}
.h2-preg {
 font-family: 'Nunito Sans', sans-serif;
 font-weight: bold;
 color: #42f471;
 margin-top: 5%;
 margin-bottom: 3%;
 font-size: 18px;}
.preg {width: 100%; margin: 5%;}
.preg p {
 margin: 0;
 font-family: 'Nunito Sans', sans-serif;
 font-size: 16px;
 padding-right: 12%;}
.preg-1 {
 width: 100%;
 margin: 5%;
 font-family: 'Nunito Sans', sans-serif;}
.preg-1 p {
 padding-right: 12%;
 margin: 0;
 font-family: 'Nunito Sans', sans-serif;
 font-size: 16px;}
/*AYUDA*/
.help-container {width: 100%; margin-top: 50px;}
.tit-ayuda {
 width: 100%;
 margin: 5%;
 margin-top: 120px;
 padding-top: 10px;
 padding-bottom: 10px;}
.h1-ayuda {
 color: #514d49;
 font-weight:bold;
 font-family: 'Nunito Sans', sans-serif;}
.h2-ayuda {
 font-family: 'Nunito Sans', sans-serif;
 font-weight: bold;
 color: #42f471;
 margin-top:2%;}
.grafico {
 width: 100%;}
.grafico-img {
 width: 100%;}
.grafico-web {display: none;}

/*REGISTRARSE*/
.form-registrarse {
 width: 100%;
 text-align: center;
 background-color: white;
 color: white;
 font-family: 'Nunito Sans', sans-serif;}
.h1-cuenta {
 font-size: 1rem;
 margin: 0;
 padding-top: 4%;
 padding-bottom: 4%;
 color: black;}
.input-checkbox-cuenta {
 position: absolute;
 top: 24.5%;}
.boton-ingresar-cuenta {
 background-color: transparent;
 color: #42f471;
 font-weight: bold;
 border-color: #42f471;
 border-style: solid;
 padding: 2%;}
.input-cuenta {
 border-top: none;
 border-left: none;
 border-right: none;
 border-color: #808080;
 color: #808080;}
.termino-condiciones{color: #808080;
 font-family: 'Nunito Sans', sans-serif;
 font-size: 0.7rem;
 text-decoration: underline;}

 /*LOG IN*/
.form-login {
 width: 100%;
 text-align: center;
 background-color: #808080;
 color: white;
 font-family: 'Nunito Sans', sans-serif;}
.boton-ingresar {
 background-color: transparent;
 color: white;
 font-weight: bold;
 border-color: white;
 border-style: solid;
 padding: 2%;}
.input-checkbox {
 position: absolute;
 top: 27%;}
.input {
 border-top: none;
 border-left: none;
 border-right: none;
 background-color:  #808080;}
.h1-login {
 font-size: 1rem;
 margin: 0;
 padding-top: 4%;
 padding-bottom: 4%;}
.recuerdame { color:#42f471; }
a {
 text-decoration: none;
 color: #42f471;}

/*FOOTER*/
footer{
 background-color: rgb(27,23,24);
 height: 428px;}
footer .contacto{
 height: 35%;}
footer .contacto div{
 position: absolute;
 font-size: 13px;
 height: 100%;
 width: 100%;
 text-align: center;}
footer .contacto .titulo{
 font-size: 35px;
 font-weight: bold;
 color: rgb(0,246,94);
 margin:0px 0px 0px 0px;}
footer .menu-footer ul li p{
 margin: 0;
 border-bottom-color: white;
 border-bottom-style: solid;
 border-bottom-width: 1px;
 font-size: 15px;
 text-align: center;}
footer .menu-footer ul{
 position: absolute;
 left: 44%;
 transform: translateX(-50%);
 bottom: 0;}
footer div{
 display: block;
 position: relative;
 color: white;
 font-family:'Open Sans', sans-serif;
 width: 100%;
 height: 21.66666%;}
footer .logo-footer img{
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 width: 60%;
 left: 20%;}
footer .sn-footer ul{
 position: absolute;
 left: 43%;
 transform: translateX(-50%);}
footer .sn-footer ul li img{ height: 50px;}
footer .sn-footer ul li{float: left;}
footer div ul{list-style-type: none;}

/*MEDIAS QUERIES*/
@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
.headercontainer{
  height: 100px;
  position: fixed;}
.header_main{
  position: relative;
  height: 100%;
  display: block;
  background-color: rgb(70,71,73);}
  }

@media (min-width: 480px){
  /*INICIO*/
.inicio1 button{
  position: relative;
  bottom: 67px;
  left: 50px}
.inicio2 button {
  position: relative;
  bottom: 67px;
  left: 283px;}
  /*QUIENES SOMOS*/
.texto-quienes article {
  font-size: 1em;
  margin-right:  0;}
.imagen-quienes {display: inline;}
.imagen-quienes button{
  display: inline;
  font-size: 1em;
  margin-left: 60%;
  margin-top: 28%;}
  /*FAQS*/
.h1-faqs {top: 5%;}
  /*AYUDA*/
.h1-ayuda {font-size: 1.6rem;}
.h2-ayuda {font-size: 1.4rem;}
}
@media (min-width: 768px) {
  /*HEADER*/
.iconomenumobile{display: none;}
.logo{
 width: 23%;
 height: 57%;
 margin-top: 3%;}
  /* The side navigation menu */
.sidenav {
 display: none;}
.topnav {
 display: inline-block;
 position: relative;
 float: right;
 margin-top: 43px;}
.topnav a {
 color: #f2f2f2;
 font-family: 'Open Sans', sans-serif;
 text-align: center;
 padding: 15px 10px;
 text-decoration: none;
 font-size: 21px;}
.topnav a:hover {
 background-color: #ddd;
 color: black;}
.topnav a.active {
 background-color: #4CAF50;
 color: white;}
.headercontainer{
 height: 100px;
 position: fixed;}
.header_main{
 position: relative;
 height: 100%;
 display: block;
 background-color: rgb(70,71,73);}
/*INICIO*/
.mobile1 {display: none;}
.mobile2 {display: none;}
.tablet1{display: inline-block;width: 100%;}
.tablet2 {display: inline-block;width: 100%;}
.inicio1 {display: inline-block; width: 49%}
.inicio2 {display: inline-block;width: 49%;}
.inicio1 button{
 position: relative;
 bottom: 58px;
 left: 18px;
 color: rgba(0,240,127,1);
 font-size: 12px;
 font-weight: bold;
 border-color: #fff;
 border-width: 5px;
 border-style: solid;
 background-color: #fff;}
.inicio2 button{
 position: relative;
 bottom: 58px;
 left: 230px;
 color: #fff;
 font-size: 12px;
 padding: 5px 30px 5px 30px;
 font-weight: bold;
 border-color: rgba(0,240,127,1);
 border-width: 5px;
 border-style: solid;
 background-color: rgba(0,240,127,1);}
 /*QUIENES SOMOS*/
.titulo-quienes {float: right;}
.titulo-quienes h2 {font-size: 2em;}
.titulo-quienes img{width: 45%;}
.texto-quienes {float: right;}
.texto-quienes article {
 font-size: 0.8em;
 width: 43%;}
.imagen-quienes button{
 margin-left: 77%;
 margin-top: 35%;}
.imagen-quienes img {
 display: inline;
 margin-left: 45%;
 margin-top: 23%;
 padding-left: 5px;
 width: 50%;
 margin-right: 10%;}
 /*FAQS*/
.img-faqs {
 display: inline-block;
 width: 84%;
 text-align: center;
 margin-left: 4%;}
.h1-faqs {
 left: 3%;
 top: 7%;
 margin-top: 55px;}
/*AYUDA*/
.preg1-2 {
 width: 30%;
 float: left;
 margin-left: 10px;}
.preg-container h2 {font-size: 18px;}
.preg-container p { font-size: 12px;}
.preg3-4 {
  width: 30%;
  float: left;
  margin-left: 2%;}
.preg5-img {
  width: 30%;
  float: left;
  margin-right: 10px;
  margin-left: 5%;}
.grafico-img {display: none;}
.grafico-web {
  display: inline-block;
  width: 95%;
  padding-left: 2%;}
.h1-ayuda {font-size: 2rem; text-align: center;}
.h2-ayuda {font-size: 1.8rem; text-align: center;}
/*FOOTER*/
footer{
 background-color: rgb(27,23,24);
 height: 200px;}
footer .contacto{height: 100%;}
footer .contacto div{
 position: absolute;
 font-size: 13px;
 top: 50%;
 transform: translateY(-35%);
 height: 100%;
 width: 100%;
 left: 50px;
 text-align: initial;}
footer .contacto .titulo{
 font-size: 35px;
 font-weight: bold;
 color: rgb(0,246,94);
 margin:0px 0px 0px 0px;}
footer .menu-footer ul li p{
 margin: 0;
 border-bottom-color: white;
 border-bottom-style: solid;
 border-bottom-width: 1px;
 font-size: 15px;
 text-align: initial;}
footer .menu-footer ul{
 position: absolute;
 top: 42%;
 transform: translateY(-50%);
 left: 0;}
footer div{
 display: inline-block;
 position: relative;
 color: white;
 font-family:'Open Sans', sans-serif;
 width: 24%;
 height: 100%;}
footer .logo-footer img{
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 width: 100%;
 left: 0;}
footer .sn-footer ul{
 position: absolute;
 top: 31%;
 left: 36%; }
footer .sn-footer ul li img{ height: 50px;}
footer .sn-footer ul li{float: left;}
footer div ul{list-style-type: none;}
}

@media (min-width: 960px){
/*HEADER*/
.iconomenumobile{
 display: none;}
.headercontainer{
 height: 100px;
 position: fixed;}
.header_main{
 position: relative;
 height: 100%;
 display: block;
 background-color: rgb(70,71,73);}
.logo{
 width: 20%;
 height: 64%;
 margin-top: 1%;
 margin-left: 2%;}
/* The side navigation menu */
.sidenav {display: none;}
.topnav {
 display: inline-block;
 position: relative;
 float: right;
 margin-top: 43px;}
.topnav a {
 color: #f2f2f2;
 font-family: 'Open Sans', sans-serif;
 text-align: center;
 padding: 15px 10px;
 text-decoration: none;
 font-size: 21px;}
.topnav a:hover {
 background-color: #ddd;
 color: black;}
.topnav a.active {
 background-color: #4CAF50;
 color: white;}
/*INICIO*/
.mobile1 {display: none;}
.mobile2 {display: none;}
.tablet2 {display: none;}
.tablet1 {display: none;}
.tableth1 {display: inline-block;width: 100%;}
.tableth2 {display: inline-block;width: 100%; margin-left: 3%;}
.inicio1 button{
 position: relative;
 bottom: 85px;
 left: 57px;
 color: rgba(0,240,127,1);
 font-size: 29px;
 padding: 5px 30px 5px 30px;
 font-weight: bold;
 border-color: #fff;
 border-width: 5px;
 border-style: solid;
 background-color: #fff;}
.inicio2 button{
 position: relative;
 bottom: 85px;
 right: 57px;
 color: #fff;
 font-size: 29px;
 padding: 5px 30px 5px 30px;
 font-weight: bold;
 border-color: rgba(0,240,127,1);
 border-width: 5px;
 background-color: rgba(0,240,127,1);}
/*QUIENES SOMOS*/
.imagen-quienes img {margin-top: 21%;}
.texto-quienes article {font-size: 1em;}
/*FAQS*/
.preg-container h2{font-size: 22px;}
.preg-container p {font-size: 15px;}
/*AYUDA*/
.grafico-mobile {display: none;}
.h1-ayuda {font-size: 2.4rem;}
.h1-ayuda {font-size: 2rem;}
}

@media (min-width: 1200px){
  /*HEADER*/
.topnav {
 display: inline-block;
 position: relative;
 float: right;
 margin-top: 43px;}
.topnav a {
 color: #f2f2f2;
 font-family: 'Open Sans', sans-serif;
 text-align: center;
 padding: 15px 10px;
 text-decoration: none;
 font-size: 21px;}
.headercontainer{
 height: 100px;
 position: fixed;}
.header_main{
 position: relative;
 height: 100%;
 display: block;
 background-color: rgb(70,71,73);}
/*INICIO*/
.inicio1 button {
 position: relative;
 bottom: 108px;
 left: 96px;}
.inicio2 button {
 position: relative;
 bottom: 109px;
 left: 292px;}
/*QUIENES SOMOS*/
.titulo-quienes h2 {font-size: 4em;}
.titulo-quienes img{width: 43%;}
.texto-quienes article {font-size: 1.2em;}
.imagen-quienes img {margin-top: 19%;}
/*FAQS*/
.preg-container h2{font-size: 28px;}
.preg-container p {font-size: 18px;}
/*AYUDA*/
.h1-ayuda {font-size: 3.4rem;}
.h1-ayuda {font-size: 3.2rem;}
}
